{% extends "layout.html" %}


{% block content %}
    <h2>Bem Vindo!</h2>
    <article class="media content-section">
        <div class="media-body">
            {% if current_user.is_authenticated %}
            <div class="article-metadata">
                <h4>Gerenciador de Ordens de Serviço</h4>
            </div>
            <div class="mt-2">
                <p>O menu apresentado ao lado te da acesso às principais funcionalidades da ferramenta.</p>
            </div>
            {% else %}
            <div class="article-metadata">
                <h4>Por favor</h4>
            </div>
            <div class="mt-2">
                <p>Realize o <strong>login</strong> para utilizar a ferramenta, ou <strong>entre em contato</strong> com a R.A Balanças pelo telefone (11)xxxx-xxxx para obter um link de acompanhamento da sua ordem de serviço.</p>
                <p>Obrigado!</p>
            </div>
            {% endif %}
            
        </div>
    </article>

{% endblock content %}
