{% extends 'layout.html' %}
{% block content %}

    <h2>Finalizar Ordem de Serviço</h2>
    <div class="content-section">

        <h4 class="mt-2 pb-1">Cliente</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>Nome</strong>
                    <p class="py-1">{{ cliente.nome }}</p>
                    <strong>Email</strong>
                    <p class="py-1">{{ cliente.email }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Telefone</strong>
                    <p class="py-1">{{ cliente.telefone }}</p>
                </div>
            </div>
            <h4 class="mt-2 pb-1">Serviço</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>Número da OS</strong>
                    <p class="py-1">{{ os.numero or "" }}</p>
                    <strong>Data de Entrada</strong>
                    <p class="py-1">{{ os.data_entrada or "" }}</p>
                    <strong>Data de Saída</strong>
                    <p class="py-1">{{ os.data_saida or "" }}</p>

                </div>
                <div class="col-md-6">
                    <strong>Status</strong>
                    <p class="py-1">{{ os.status or "" }}</p>
                    <strong>Tipo de defeito</strong>
                    <p class="py-1">{{ os.tipo_defeito or "" }}</p>
                    <strong>Garantia</strong>
                    <p class="py-1">{{ os.garantia or "" }}</p>
                </div>
            </div>
            <div class="row text-lg py-4 pl-3">
                <div class="col-12">
                    <strong>Problema constatado</strong>
                    <p class="pl-2 py-1">{{ os.problema_constatado or "" }}</p>
                    <strong>Problema informado</strong>
                    <p class="pl-2 py-1">{{ os.problema_informado or "" }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Valor das peças</th>
                                <td class="td-on-view">R$ {{ os.valor_produtos or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Desconto</th>
                                <td class="td-on-view" colspan="2">R$ {{ os.desconto or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Valor total</th>
                                <td class="td-on-view" colspan="2">R$ {{ os.valor_total or "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Mão de obra</th>
                                <td class="td-on-view">R$ {{ os.valor_servicos or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Forma de pagamento</th>
                                <td class="td-on-view" colspan="2">{{ os.tipo_pagamento or "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Finalização</legend>
                
                <div class="row pl-2">
                    <div class="form-group col-md-4">
                        {{ form.status.label(class="bold-char form-control-label") }}

                        {% if form.status.errors %}
                            {{ form.status(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.status.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.status(class="form-control") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-md-8">
                        {{ form.problema_constatado.label(class="bold-char form-control-label") }}
                        {% if form.problema_constatado.errors %}
                            {{ form.problema_constatado(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.problema_constatado.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.problema_constatado(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row pl-2">

                    <div class="form-group col-md-6">
                        {{ form.mao_de_obra.label(class="bold-char form-control-label") }}
                        {% if form.mao_de_obra.errors %}
                            {{ form.mao_de_obra(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.mao_de_obra.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mao_de_obra(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.desconto.label(class="bold-char form-control-label") }}
                        {% if form.desconto.errors %}
                            {{ form.desconto(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.desconto.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.desconto(class="form-control") }}
                        {% endif %}
                    </div>

                </div>


                <div class="row pl-2">
                    
                    <div class="form-group col-md-6">
                        {{ form.forma_de_pagamento.label(class="bold-char form-control-label") }}
                        {% if form.forma_de_pagamento.errors %}
                            {{ form.forma_de_pagamento(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.forma_de_pagamento.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.forma_de_pagamento(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.garantia.label(class="bold-char form-control-label") }}

                        {% if form.garantia.errors %}
                            {{ form.garantia(class="datepicker form-control is-invalid", type="date") }}
                            <div class="invalid-feedback">
                                {% for error in form.garantia.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.garantia(class="datepicker form-control", type="date") }}
                        {% endif %}
                    </div>

                </div>

                <div class="row pl-2">

                    <div class="form-group col-md-6">
                        {{ form.data_saida.label(class="bold-char form-control-label") }}

                        {% if form.data_saida.errors %}
                            {{ form.data_saida(class="datepicker form-control is-invalid", type="date") }}
                            <div class="invalid-feedback">
                                {% for error in form.data_saida.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.data_saida(class="datepicker form-control", type="date") }}
                        {% endif %}
                    </div>

                    <div class="col-md-6 pr-4 pt-4 d-flex align-items-end justify-content-end">
                        {{ form.submit(class="btn btn-outline-info btn-lg")}}
                    </div>

                </div>

            </fieldset>
            
        </form>
    </div>
{% endblock content %}