{% extends "layout.html" %}


{% block content %}
    <div class="container mb-3">
        <h2>Bem Vindo!</h2>
    </div>
    <article class="media content-section">
        <div class="media-body">
            {% if current_user.is_authenticated %}
            <div class="article-metadata">
                <h4>Gerenciador de Ordens de Serviço</h4>
            </div>
            <div class="mt-3">
                <p>A principais funcionalidades da ferramenta podem ser acessadas no menu ao lado.</p>
            </div>
            {% else %}
            <div class="article-metadata">
                <h4>Por favor</h4>
            </div>
            <div class="mt-3">
                <p>Realize o <strong>login</strong> para utilizar a ferramenta, ou <strong>entre em contato</strong> com a R.A Balanças pelo telefone (11) 2452-5620 para obter informações sobre a sua ordem de serviço.</p>
                <p>Obrigado!</p>
            </div>
            {% endif %}
            
        </div>
    </article>

{% endblock content %}
