{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-3 pb-2">Alterar dados do Cliente</h3>

                <div class="row pl-3">
                    <div class="col-6 pl-2">
                        <h5>Nome</h5>
                        <h4>{{ cliente.nome }}</h4>
                    </div>
    
                    <div class="col-6 pl-2">
                        <h5>CPF</h5>
                        <h4>{{ cliente.cpf }}</h4>
                    </div>
                </div>

                <div class="row pl-2 pt-3">
                <div class="form-group col-md-6">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                    {{ form.phone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.phone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group col-md-6">
                    {{ form.mobile.label(class="form-control-label") }}
                    {% if form.mobile.errors %}
                    {{ form.mobile(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.mobile.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.mobile(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>

                <div class="row pl-2">
                <div class="form-group col-md-12">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>

                <div class="row pl-2">
                <div class="form-group col-md-4">
                    {{ form.cep.label(class="form-control-label") }}
                    {% if form.cep.errors %}
                    {{ form.cep(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cep.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.cep(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                    
                <div class="form-group col-md-8">
                    {{ form.address.label(class="form-control-label") }}
                    {% if form.address.errors %}
                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>

                <div class="row pl-2">
                <div class="form-group col-md-2">
                    {{ form.number.label(class="form-control-label") }}
                    {% if form.number.errors %}
                    {{ form.number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group col-md-4">
                    {{ form.complement.label(class="form-control-label") }}
                    {% if form.complement.errors %}
                    {{ form.complement(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.complement.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.complement(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    {{ form.neighborhood.label(class="form-control-label") }}
                    {% if form.neighborhood.errors %}
                    {{ form.neighborhood(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.neighborhood.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.neighborhood(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>

                <div class="row pl-2">
                <div class="form-group col-md-6">
                    {{ form.city.label(class="form-control-label") }}
                    {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group col-md-2">
                    {{ form.state.label(class="form-control-label") }}
                    {% if form.state.errors %}
                    {{ form.state(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="col-md-6"></div>
                <div class="col-md-6 pr-4 pt-3 d-flex align-items-end justify-content-end">
                    {{ form.submit(class="btn btn-outline-info btn-lg")}}
                </div>
            </div>


            </fieldset>
            
        </form>
    </div>
{% endblock content %}