{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">

        <h4 class="mt-2 pb-1">Cliente</h4>
        <hr>
        <div class="row text-lg pl-3">
            <div class="col-md-6">
                <strong>Nome</strong>
                <p class="py-1">{{ cliente.nome }}</p>
                <strong>Email</strong>
                <p class="py-1">{{ cliente.email }}</p>
            </div>
            <div class="col-md-6">
                <strong>Telefone</strong>
                <p class="py-1">{{ cliente.telefone }}</p>
            </div>
        </div>
        <h4 class="mt-2 pb-1">Ordem de Serviço</h4>
        <hr>
        <div class="row text-lg pl-3">
            <div class="col-md-6">
                <strong>Número da OS</strong>
                <p class="py-1">{{ os.numero }}</p>
                <strong>Data de entrada</strong>
                <p class="py-1">{{ os.data_entrada }}</p>
            </div>
            <div class="col-md-6">
                <strong>Tipo de defeito</strong>
                <p class="py-1">{{ os.tipo_defeito }}</p>
                <strong>Problema informado</strong>
                <p class="py-1">{{ os.problema_informado or "" }}</p>
            </div>
        </div>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Alterar dados da Ordem de Serviço</legend>
                
                <div class="row pl-2">
                    <div class="form-group col-md-4">
                        {{ form.status.label(class="bold-char form-control-label") }}

                        {% if form.status.errors %}
                            {{ form.status(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.status.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.status(class="form-control") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group col-md-8">
                        {{ form.problema_constatado.label(class="bold-char form-control-label") }}
                        {% if form.problema_constatado.errors %}
                            {{ form.problema_constatado(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.problema_constatado.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.problema_constatado(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row pl-2">

                    <div class="form-group col-md-6">
                        {{ form.mao_de_obra.label(class="bold-char form-control-label") }}
                        {% if form.mao_de_obra.errors %}
                            {{ form.mao_de_obra(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.mao_de_obra.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mao_de_obra(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.desconto.label(class="bold-char form-control-label") }}
                        {% if form.desconto.errors %}
                            {{ form.desconto(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.desconto.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.desconto(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="col-md-6"></div>
                    <div class="col-md-6 pr-4 pt-3 d-flex align-items-end justify-content-end">
                        {{ form.submit(class="btn btn-outline-info btn-lg")}}
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
{% endblock content %}