{% extends "layout.html" %}


{% block content %}
    <h2>Dados do Cliente</h2>
    <article class="media content-section">
        <div class="media-body">
            <h4 class="mt-2 pb-1">Dados Pessoais</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>Nome</strong>
                    <p class="py-1">{{ cliente.nome }}</p>
                    <strong>CPF</strong>
                    <p class="py-1">{{ cliente.cpf }}</p>
                    <strong>Email</strong>
                    <p class="py-1">{{ cliente.email }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Telefone</strong>
                    <p class="py-1">{{ cliente.telefone }}</p>
                    <strong>Celular</strong>
                    <p class="py-1">{{ cliente.celular }}</p>
                </div>
            </div>
            <h4 class="mt-2 pb-1">Endereço</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>CEP</strong>
                    <p class="py-1">{{ cliente.cep }}</p>
                    <strong>Estado</strong>
                    <p class="py-1">{{ cliente.estado }}</p>
                    <strong>Rua</strong>
                    <p class="py-1">{{ cliente.endereco }}</p>
                    <strong>Complemento</strong>
                    <p class="py-1">{{ cliente.complemento }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Cidade</strong>
                    <p class="py-1">{{ cliente.cidade }}</p>
                    <strong>Bairro</strong>
                    <p class="py-1">{{ cliente.bairro }}</p>
                    <strong>Número</strong>
                    <p class="py-1">{{ cliente.numero }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <a class="bold-char btn btn-outline-danger" href="{{ url_for('clientes.update_client', id=cliente.id) }}">Alterar Dados do Cliente</a>
                </div>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="row mt-2">
                <div class="col-md-6">
                    <h2>Ordens de Serviço</h2>
                </div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <a class="bold-char btn btn-outline-info" href="{{ url_for('ordens.register_so', id=cliente.id) }}">Nova Ordem de Serviço</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-gray">
                            <tr>
                            
                            <th class="bold-char" scope="col">Número</th>
                            <th class="bold-char" scope="col">Data de Entrada</th>
                            <th class="bold-char" scope="col">Data de Saída</th>
                            <th class="bold-char" scope='col'>Valor Total</th>
                            <th class="bold-char" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for os in oss.items %}
                                <tr>
                                    <td class="text-center"><a href="{{ url_for('ordens.view_so', numero=os.numero) }}">{{ os.numero }}</td></a>
                                    <td class="pl-3">{{ os.data_entrada }}</td>
                                    <td class="pl-3">{{ os.data_saida or "Sem data" }}</td>
                                    <td>{{ os.valor_total or "Sem valor" }}</td>
                                    <td>{{ os.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    

{% endblock content %}