{% extends "layout.html" %}


{% block content %}
    <h2>Ordem de Serviço : <strong>{{ os.numero }}</strong></h2>
    <article class="media content-section">
        <div class="media-body">
            <h4 class="mt-2 pb-1">Cliente</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>Nome</strong>
                    <p class="py-1">{{ cliente.nome }}</p>
                    <strong>Email</strong>
                    <p class="py-1">{{ cliente.email }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Telefone</strong>
                    <p class="py-1">{{ cliente.telefone }}</p>
                </div>
            </div>
            <h4 class="mt-2 pb-1">Serviço</h4>
            <hr>
            <div class="row text-lg pl-3">
                <div class="col-md-6">
                    <strong>Número da OS</strong>
                    <p class="py-1">{{ os.numero or "" }}</p>
                    <strong>Data de Entrada</strong>
                    <p class="py-1">{{ os.data_entrada or "" }}</p>
                    <strong>Data de Saída</strong>
                    <p class="py-1">{{ os.data_saida or "" }}</p>

                </div>
                <div class="col-md-6">
                    <strong>Status</strong>
                    <p class="py-1">{{ os.status or "" }}</p>
                    <strong>Tipo de defeito</strong>
                    <p class="py-1">{{ os.tipo_defeito or "" }}</p>
                    <strong>Garantia</strong>
                    <p class="py-1">{{ os.garantia or "" }}</p>
                </div>
            </div>
            <div class="row text-lg py-4 pl-3">
                <div class="col-12">
                    <strong>Problema constatado</strong>
                    <p class="pl-2 py-1">{{ os.problema_constatado or "" }}</p>
                    <strong>Problema informado</strong>
                    <p class="pl-2 py-1">{{ os.problema_informado or "" }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Valor das peças</th>
                                <td class="td-on-view">R$ {{ os.valor_produtos or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Desconto</th>
                                <td class="td-on-view" colspan="2">R$ {{ os.desconto or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Valor total</th>
                                <td class="td-on-view" colspan="2">R$ {{ os.valor_total or "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Mão de obra</th>
                                <td class="td-on-view">R$ {{ os.valor_servicos or "" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Forma de pagamento</th>
                                <td class="td-on-view" colspan="2">{{ os.tipo_pagamento or "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <a class="bold-char btn btn-outline-danger" href="{{ url_for('ordens.update_so', numero=os.numero) }}">Alterar Dados da OS</a>
                    <a class="bold-char btn btn-outline-info ml-2" href="{{ url_for('ordens.close_so', numero=os.numero) }}">Finalizar OS</a>
                </div>
            </div>
        </div>
    </article>
    
    <article class="media content-section">
        <div class="media-body"> 
            <h4 class="mt-2 pb-1">Equipamento</h4>
            <hr>
            <div class="row text-lg2 pl-3">
                <div class="col-md-6">
                    <strong>Número de série</strong>
                    <p class="py-1">{{ equipamento.nro_de_serie or "" }}</p>
                    <strong>Marca</strong>
                    <p class="py-1">{{ equipamento.marca or "" }}</p>
                    <strong>Modelo</strong>
                    <p class="py-1">{{ equipamento.modelo or "" }}</p>
                </div>

                <div class="col-md-6">
                    <strong>Capacidade</strong>
                    <p class="py-1">{{ equipamento.capacidade or "" }} kg</p>
                    <strong>Lacre na entrada</strong>
                    <p class="py-1">{{ equipamento.lacre_entrada or "" }}</p>
                    <strong>Lacre na saida</strong>
                    <p class="py-1">{{ equipamento.lacre_saida or "" }}</p>
                </div>

            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body"> 
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mt-2 mb-3">Peças</h5>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-gray">
                            <tr>
                            
                            <th class="bold-char" scope="col">Numero</th>
                            <th class="bold-char" scope="col">Marca</th>
                            <th class="bold-char" scope="col">Nome</th>
                            <th class="bold-char" scope='col'>Valor Unitário</th>
                            <th class="bold-char" scope="col">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for peca in pecas %}
                                <tr>
                                    
                                    <td>{{ peca.numero }}</td>
                                    <td>{{ peca.marca }}</td>
                                    <td>{{ peca.nome }}</td>
                                    <td>R$ {{ peca.valor_unitario }}</td>
                                    <td>{{ peca.quantidade }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2">Adicionar peça</legend>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.marca.label(class="form-control-label") }}
            
                                {% if form.marca.errors %}
                                    {{ form.marca(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.marca.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.marca(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.nome.label(class="form-control-label") }}
            
                                {% if form.nome.errors %}
                                    {{ form.nome(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.nome.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.nome(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.quantidade.label(class="form-control-label") }}
            
                                {% if form.quantidade.errors %}
                                    {{ form.quantidade(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.quantidade.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.quantidade(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.valor_unitario.label(class="form-control-label") }}
            
                                {% if form.valor_unitario.errors %}
                                    {{ form.valor_unitario(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.valor_unitario.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.valor_unitario(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-end justify-content-center">
                            <div class="form-group">
                                {{ form.submit(class="btn-lg btn-add-component btn-outline-info")}}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <p class="text-muted mb-1">* &nbspCampo obrigatório</p>
            <p class="text-muted">** As casas decimais no campo "Valor Unitário", são separadas por ponto (.)</p>
        </div>
    </article>
    

{% endblock content %}