{% extends "layout.html" %}


{% block content %}
    <h2>Dados do Cliente</h2>
    <article class="media content-section">
        <div class="media-body">
            <h5 class="mt-2">Dados Pessoais</h5>
            <div class="row">
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row">Nome</th>
                            <td class="td-on-view">{{ cliente.nome }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CPF</th>
                            <td class="td-on-view">{{ cliente.cpf }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td class="td-on-view" colspan="2">{{ cliente.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row">Telefone</th>
                            <td class="td-on-view">{{ cliente.telefone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Celular</th>
                            <td class="td-on-view">{{ cliente.celular }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h5 class="mt-2">Endereço</h5>
            <div class="row">
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row">CEP</th>
                            <td class="td-on-view">{{ cliente.cep }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Estado</th>
                            <td class="td-on-view">{{ cliente.estado }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row">Cidade</th>
                            <td class="td-on-view">{{ cliente.cidade }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bairro</th>
                            <td class="td-on-view">{{ cliente.bairro }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row">Rua</th>
                            <td class="td-on-view" colspan="2">{{ cliente.endereco }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Numero</th>
                            <td class="td-on-view" colspan="2">{{ cliente.numero }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Complemento</th>
                            <td class="td-on-view" colspan="2">{{ cliente.complemento }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <a class="bold-char btn btn-outline-danger" href="#">Alterar Dados do Cliente</a>
                </div>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="row mt-2">
                <div class="col-md-6">
                    <h2>Ordens de Serviço</h2>
                </div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <a class="bold-char btn btn-outline-info" href="{{ url_for('ordens.register_so', id=cliente.id) }}">Nova Ordem de Serviço</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead class="thead-gray">
                            <tr>
                            
                            <th class="bold-char" scope="col">Número</th>
                            <th class="bold-char" scope="col">Data de Entrada</th>
                            <th class="bold-char" scope="col">Data de Saída</th>
                            <th class="bold-char" scope='col'>Valor Total</th>
                            <th class="bold-char" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for os in oss.items %}
                                <tr>
                                    <td class="text-center"><a href="{{ url_for('ordens.view_so', numero=os.numero) }}">{{ os.numero }}</td></a>
                                    <td class="pl-3">{{ os.data_entrada }}</td>
                                    <td class="pl-3">{{ os.data_saida or "Sem data" }}</td>
                                    <td>{{ os.valor_total or "Sem valor" }}</td>
                                    <td>{{ os.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    

{% endblock content %}